@import '../styles/common/visuals.scss';
@import '../styles/common/mixins.scss';


body {
    margin: 0;
    padding: 0;
    background-color: $color--very-light--green;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//Top navigation
@import './common/topnav.scss';

/*
    ABOUT PAGE
*/
//about hero
@import './about/abHero.scss';

//envision section
@import './about/envision.scss';

//gallery section
@import './about/gallery.scss';

//intro video
@import './about/introvideo.scss';

//message
@import './about/message.scss';






//Footer
@import './common/footer.scss';


/*
    MEDIA QUERIES
    //MUST BE THE LAST FILE IN THE BLOG.SCSS
*/
@import '../styles/common/queries.scss';