.animate-from-left {
    transform: translateX(-50px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
    opacity: 0;
}



.animate-from-right {
    transform: translateX(10px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
    opacity: 0;
}

.animate-from-top {
    transform: translateY(-50px);
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;
    opacity: 0;
}



.animate {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}
