@mixin flex-box--row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@mixin flex-box--column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

@mixin bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin font--light {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@mixin font--medium {
    font-family: 'Open Sans', sans-serif;
}
