@import '../common/mixins.scss';
@import './visuals.scss';

top-navigation {
    .top-navigation {
        @include flex-box--row();
        background-color: $color--white;
        top: 0;
        position: sticky;
        width: 100%;
        z-index: 1;
        //box-shadow: #004021;

        .top-navigation--header {
            margin-left: 130px;
            color: $color--darker--green;
            @include flex-box--row();
            font-family: 'Inter-extraLight';
            font-weight: 900;


            .logo {
                background-image: url('../../assets/images/logo_ndc.png');
                @include bg-image();

                margin-right: 2px;
                width: 65px;
                height: 65px;
            }

        }

        .top-navigation--links {
            @include flex-box--row();

            @include font--light();
            font-weight: 700;
            
            border-radius: 10px;
            padding: 0 20px;
            width: 250px;
            height: 37px;
            border: 1px solid #004021;

            button {
                color: $color--darker--green;
                text-decoration: none;
                border: 0;
                background: transparent;
                cursor: pointer;
            }
        }

        .social-media-links {
            margin-right: 130px;
            @include flex-box--row();
            cursor: pointer;

            .svg-inline--fa {
                cursor: pointer;
                margin: 0 7px;
                width: 25px !important;
                height: 25px !important;
                color: $color--darker--green;
            }
        }
    }
}