@import '../common/mixins.scss';
@import '../common/visuals.scss';

ab-video {
    .intro-video-container {
        padding: 100px 120px 150px 120px;

        h1 {
            text-align: center;
            font-family: 'Inter-semiBold';
            font-size: 40px;
            margin-bottom: 100px;
            color: $color--darker--green;
        }

        .intro--video {
            @include flex-box--row();
            justify-content: center;

            iframe {
                border: 1px solid #004021;
            }

        }
    }
}